<div class="grid-container">
  <div class="pagination-container">
    <div class="navbar-search">
      <input type="text" placeholder="חפש לפי שם..." (input)="onNameFilterChange($event)" />
      <select (change)="onCategoryFilterChange($event)">
        <option value="">בחר קטגוריה...</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
      <input type="number" placeholder="זמן הכנה מקסימלי..." (input)="onPreparationTimeFilterChange($event)" />
      <button class="search-button"></button>
    </div>
    <div class="pagination-controls">
      <button class="prev" (click)="loadNextPage()">&#60;</button>
      <button class="next" (click)="loadPreviousPage()">&#62;</button>
    </div>
    <div class="page-size-selector">
      <label for="pageSizeSelect"></label>
      <select id="pageSizeSelect" (change)="changePageSize($event)">
        <option [value]="5" [selected]="pageSize === 5">5 פריטים</option>
        <option [value]="10" [selected]="pageSize === 10">10 פריטים</option>
      </select>
    </div>
  </div>
</div>

<div class="grid-container">
  <div *ngFor="let recipe of filteredRecipes" class="card">
    <div class="card-header">
      <h4 class="card-title">{{ recipe.nameRecipe }}</h4>
    </div>
    <app-slideshow *ngIf="recipe.image && recipe.image.length > 0"
      [previewImages]="getImageUrls(recipe)"></app-slideshow>
    <div class="card-content">
      <p>זמן הכנה: {{ recipe.preparationTime ? (recipe.preparationTime | time) : 'לא צוין זמן הכנה' }}</p>
      <p style="direction:rtl ;">דרגת קושי:
        <span *appStars="recipe.level ? recipe.level : 0">★</span>
      </p>
    </div>
    <div class="card-actions">
      <button class="card-button" (click)="openRecipeModal(recipe)">הצגת מתכון</button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="showModal">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-content">
    <button class="close-button" (click)="closeModal()">X</button>
    <app-one-recipes [recipe]="selectedRecipe"></app-one-recipes>
  </div>
</div>