// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
  
// }

.background {
  background-color: hsl(13.47deg 55.06% 82.55%);
  width: 100vw;
  height: 100vh;
  display: flex;
}
body{
  background-color: hsl(13.47deg 55.06% 82.55%);

}
.card {
    width: 300px;
    border: 1px solid  hsl(37.58deg 64.54% 27.65%);
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px  hsl(37.58deg 64.54% 27.65%);
    position: absolute;
    top: 70px;
  }
  
  .card-header {
    background-color:  hsl(13.47deg 55.06% 82.55%);
    padding: 10px;
  }
  
  .card-title {
    margin: 0;
  }
  
  .card-subtitle {
    margin: 5px 0 0;
    color:hsl(17.75deg 49.65% 71.96%);
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 10px;
  }
  
  .card-actions {
    padding: 10px;
    text-align: center;
  }
  
  .card-button {
    background-color: hsl(13.47deg 55.06% 82.55%);
    color:hsl(37.58deg 64.54% 27.65%);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card-button:hover {
    background-color:hsl(17.75deg 49.65% 71.96%);
  }
  