/* Updated style for dividing grids into 3 cards in a row */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr)); /* Each card will be 280 pixels wide or more, and the size will fit the length of the row */
  gap: 20px; 
  position: relative;
  top: 80px;
  text-align: center;
}

.card {
  border: 1px solid hsl(37.58deg 64.54% 27.65%);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px hsl(37.58deg 64.54% 27.65%);
  width: 100%; /* Ensure each card takes up the full width of the grid cell */
}


/* Existing style of the cards */
.card-header {
  background-color: hsl(13.47deg 55.06% 82.55%);
  padding: 10px;
}

.card-title {
  margin: 0;
}

.card-subtitle {
  margin: 5px 0 0;
  color: hsl(17.75deg 49.65% 71.96%);
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
}

.card-actions {
  padding: 10px;
  text-align: center;
}

.card-button {
  background-color: hsl(13.47deg 55.06% 82.55%);
  color: hsl(37.58deg 64.54% 27.65%);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.card-button:hover {
  background-color: hsl(17.75deg 49.65% 71.96%);
}

.modal {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(13.47deg 55.06% 82.55%);
}

.modal-background {
  position: absolute;
  top: 70px;
  left: 0;
  width: 30%;
  height: 80%;
  background: transparent;
  align-items: center;
}

.modal-content {
  position: relative;
  top: 0%;
  background: hsl(37.58deg 64.54% 27.65%);
  padding: 20px;
  border-radius: 8px;
  z-index: 10;
  color: hsl(13.47deg 55.06% 82.55%);
  align-items: center;
  width: 50%;
  text-align: center;
  font-weight: bold;
  max-height: 80vh; /* Add a max height to the modal content */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
}

.close-button {
  position: absolute;
  top: 8px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.img {
  width: 200px;
  height: 200px;
}
