<nav class="navbar">
  <div class="menu-icon">
    <span class="menu-icon-bar"></span>
    <span class="menu-icon-bar"></span>
    <span class="menu-icon-bar"></span>
  </div>
  <div class="navbar-links">
    <a routerLink="/">Home</a>
    <a routerLink="allRecipes">All-Recipes</a>
    <a *ngIf="userService.token" routerLink="myRecipe">My-Recipes</a>
    <a *ngIf="userService.token" routerLink="addRecipe">Add-Recipe</a>
    <a *ngIf="isManager" routerLink="customers">Customers</a> <!-- Show Customers link only if user is a Manager -->
  </div>
  
  <div class="navbar-login">
    <span *ngIf="!userService.token">שלום אורח</span>
    <span *ngIf="userService.token"> {{ userName }} :שלום</span>
    <button mat-flat-button *ngIf="!userService.token" routerLink="/login">Login</button>
    <button mat-flat-button *ngIf="userService.token" (click)="logout()">Logout</button>
   </div>
</nav>

<router-outlet></router-outlet>
