<div class="center-box">
  <div class="rectangle">
    <form (ngSubmit)="onSubmit()" #recipeForm="ngForm" class="recipe-form">
      <div class="form-group">
        <label for="nameRecipe">Recipe Name</label><br>
        <input type="text" class="form-control" id="nameRecipe" name="nameRecipe" [(ngModel)]="newRecipe.nameRecipe" required>
      </div>
      <div class="form-group">
        <label for="descriptionRecipe">Recipe Description</label><br>
        <textarea class="form-control" id="descriptionRecipe" name="descriptionRecipe" [(ngModel)]="newRecipe.descriptionRecipe"></textarea>
      </div>
      <div class="form-group">
        <label for="categoryName">Categories</label><br>
        <select class="form-control" (change)="handleCategoryChange($event)">
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
        <button type="button" class="btn btn-secondary ml-2" (click)="addNewCategory()">Add New Category</button>
        <input *ngIf="showNewCategoryInput" type="text" class="form-control ml-2" id="newCategoryName" name="newCategoryName" [(ngModel)]="newCategoryName" placeholder="Enter new category">
        <button type="button" class="btn btn-primary ml-2" (click)="confirmNewCategory()" *ngIf="showNewCategoryInput && newCategoryName.trim() !== ''">OK</button>
      </div>
      <ul class="category-list">
        <li *ngFor="let category of newRecipe.categoryName">{{ category }}</li>
      </ul>
      
      
      <div class="form-group">
        <label for="preparationTime">Preparation Time (minutes)</label><br>
        <input type="number" class="form-control" id="preparationTime" name="preparationTime" [(ngModel)]="newRecipe.preparationTime">
      </div>
      <div class="form-group">
        <label for="level">Difficulty Level</label><br>
        <input type="number" class="form-control" id="level" name="level" [(ngModel)]="newRecipe.level">
      </div>
      <!-- Layers Section -->
      <div class="form-group">
        <label>Layers</label><br>
        <div *ngFor="let layer of newRecipe.layers; let i = index" class="layer-container">
          <div class="form-group">
            <label for="layerDescription{{ i }}">Layer {{ i + 1 }}: Description</label><br>
            <textarea class="form-control" id="layerDescription{{ i }}" name="layerDescription{{ i }}" [(ngModel)]="layer.description" required></textarea>
          </div>
          <div class="form-group">
            <label for="layerIngredients{{ i }}">Layer {{ i + 1 }}: Ingredients</label><br>
            <input type="text" class="form-control" id="layerIngredients{{ i }}" name="layerIngredients{{ i }}" [(ngModel)]="ingredientInput" (keydown.enter)="addIngredient(i, $event)" placeholder="Add ingredient and press Enter">
            <ul class="ingredient-list">
              <li *ngFor="let ingredient of layer.component">{{ ingredient }}</li>
            </ul>
          </div>
          <hr> <!-- Separator between layers -->
        </div>
        <button type="button" class="btn btn-primary" (click)="addLayer()">Add Layer</button>
      </div>
      <!-- Instructions Section -->
      <div class="form-group">
        <label for="instructionRecipe">Preparation Instructions</label><br>
        <textarea class="form-control" id="instructionRecipe" name="instructionRecipe" [(ngModel)]="newRecipe.instructionRecipe" placeholder="Enter preparation instructions"></textarea>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="privateYesOrNo" name="privateYesOrNo" [(ngModel)]="newRecipe.privateYesOrNo">
          <label class="form-check-label" for="privateYesOrNo">Private Recipe</label><br>
        </div>
      </div>
      <div class="form-group">
        <label for="images">Images</label><br>
        <input type="file" class="form-control-file" id="images" name="images" (change)="onFileSelected($event)" multiple>
      </div>
      <button type="submit" class="btn btn-primary save-recipe-btn" [disabled]="!recipeForm.valid">Save Recipe</button>
    </form>
  </div>
</div>
